body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0 auto;
}

header {
    text-align: center;
}

.container {
    padding: 20px;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.balance {
    margin-bottom: 20px;
    width: 100%;
    max-width: 50%;
}

.balance h3 {
    margin-top: 0;
}

.balance table {
    width: 100%;
    border-collapse: collapse;
}

.balance th,
.balance td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.balance td {
    border-top: 1px solid #ccc;
}

.balance tbody tr:nth-child(odd) {
background: #f2f2f2;
}

.pagination {
    list-style: none;
    display: flex;
}

.pagination li {
    cursor: pointer;
    text-align: center;
    padding: 8px 0px;
}

.pagination li a {
    padding: 15px;
    text-decoration: none;
    background-color: mediumaquamarine;
    opacity: 0.8;
    border: 1px solid #fff;
    color: #fff;
}

.pagination li span {
    padding: 15px;
}